*{ 
    margin: 0;
}

body{
    background-color: rgb(236, 246, 248);
    direction: ltr;
    margin-left:70px ;
}

.products{
    text-align: center;
}

h1{ 
margin-top: 100px; ;
margin-right: 100px;
color: rgb(9, 127, 190);
font-size:60px;
font-weight: 700;
font-style: normal;
font-family: @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
text-transform: capitalize;
text-decoration: underline;
}

 h2{
    text-transform: capitalize;
    color: rgb(58, 128, 167);
}

p{
    color: rgb(90, 169, 189);
}

.elements{
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

img{
    width:"300px";
     height:"300px";
}

.iphone{
   border: 3px rgb(93, 193, 247) solid;
    float: left;
    width: 20%;
    margin: 6px;
    padding: 8px;
}

.clearfix{
    clear: left;
}

.price{
    text-align: center;
      word-spacing: 15px;
  }

  .newprice{
    color: rgb(93, 126, 143);
      float: left;
      font-weight: 700;
      margin-left: 100px ;
      margin-right: 10px;
      text-align: center;
  }

  .oldprice{
     color: red;
      float: left;
      font-weight: 700;
      text-decoration-line:line-through ;
      text-align: center;
  }

  .clearfix{
      clear: both;
  }

button{
    padding: 7px 50px 7px 50px;
    background-color:rgb(175, 230, 246);
    color: rgb(58, 128, 167);
    font-style: normal;
    font-weight: 700;
}

